.header {
    margin: 0 48px 0 48px;
    padding: 0;
    width: 1184px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: 928px;
    }

}

@media (min-width: 481px) and (max-width: 1023px) {
    .header {
        width: 90.625%;
        margin-left: 4.68%;
        margin-right: 4.68%;
    }
}

@media (min-width: 240px) and (max-width: 480px) {
    .header {
        width: 288px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
}